<div class="card">
    <div class="card-header">Uploads</div>

    <div class="card-body p-0">
        <div class="p-1">
            <div class="row g-2">
                <div class="col-md-6">
                    <div class="input-group"
                         hx-post="/admin-xhr/widgets/read/?change_filter"
                         hx-params="media_widget_text_filter,csrf_token"
                         hx-trigger="input changed delay:500ms"
                         hx-swap="none">
                        <span class="input-group-text"><i class="bi bi-search"></i></span>
                        <input type="text" class="form-control no-enter"
                               name="media_widget_text_filter"
                               value="{{ media_widget_text_filter }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <select class="form-control"
                            hx-post="/admin-xhr/widgets/read/?change_filter"
                            hx-params="sorting_media_widget,csrf_token"
                            name="sorting_media_widget"
                            hx-trigger="change"
                            hx-swap="none">
                        <option value="media_id_desc" {% if sorting_selected == 'media_id_desc' %}selected{% endif %}>Newest first</option>
                        <option value="media_id_asc" {% if sorting_selected == 'media_id_asc' %}selected{% endif %}>Oldest first</option>
                        <option value="media_file_asc" {% if sorting_selected == 'media_file_asc' %}selected{% endif %}>A-Z</option>
                        <option value="media_file_desc" {% if sorting_selected == 'media_file_desc' %}selected{% endif %}>Z-A</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="scroll-container p-0">
            <div class="sortable_source list-group list-group-flush">
                {% for image in media_data %}
                    <div class="list-group-item d-flex align-items-start draggable" data-id="{{ image.image_src }}">
                        <div class="d-flex flex-row gap-2">
                            <div class="rounded-circle flex-shrink-0"
                                 style="width:64px;height:64px;background-image:url({{ image.preview }});background-size:cover;"></div>
                            <div class="text-muted small">
                                {{ image.image_title }}{{ image.img_filename_short }}<br>
                                {{ image.image_upload_time }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card-footer">
        {{ pagination|raw }}
    </div>
</div>