<table class="table table-sm">
    <tr>
        <td>Domain</td>
        <td>{{ se_settings.cms_domain }}</td>
    </tr>
    <tr>
        <td>SSL</td>
        <td>{{ se_settings.cms_ssl_domain }}</td>
    </tr>
    <tr>
        <td>Mail</td>
        <td>{{ se_settings.mailer_adr }}</td>
    </tr>
    <tr>
        <td>Mail Name</td>
        <td>{{ se_settings.mailer_name }}</td>
    </tr>
    <tr>
        <td>Server</td>
        <td> {{ global.server_name }}</td>
    </tr>
    <tr>
        <td>PHP</td>
        <td>{{ php_version }}</td>
    </tr>
    <tr>
        <td>Database</td>
        <td>{{ database }}</td>
    </tr>
</table>